<!DOCTYPE html>
<html>
  <head>
    {% include analytics.html %}
    <title>{% if page.title %}{{ page.title }} – {% endif %}{{ site.name }}</title>

    {% include meta.html %}

    <!--[if lt IE 9]>
      <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <link rel="stylesheet" type="text/css" href="{{ site.baseurl }}/style.css" />
    <link rel="alternate" type="application/rss+xml" title="{{ site.name }} - {{ site.description }}" href="{{ site.baseurl }}/feed.xml" />

    <link rel="apple-touch-icon" sizes="180x180" href="/images/icons/apple-touch-icon.png?v=dLJ9Pq4Q3A">
    <link rel="icon" type="image/png" sizes="32x32" href="/images/icons/favicon-32x32.png?v=dLJ9Pq4Q3A">
    <link rel="icon" type="image/png" sizes="16x16" href="/images/icons/favicon-16x16.png?v=dLJ9Pq4Q3A">
    <link rel="manifest" href="/images/icons/site.webmanifest?v=dLJ9Pq4Q3A">
    <link rel="mask-icon" href="/images/icons/safari-pinned-tab.svg?v=dLJ9Pq4Q3A" color="#666696">
    <link rel="shortcut icon" href="/images/icons/favicon.ico?v=dLJ9Pq4Q3A">
    <meta name="apple-mobile-web-app-title" content="Qudzillata">
    <meta name="application-name" content="Qudzillata">
    <meta name="msapplication-TileColor" content="#666696">
    <meta name="msapplication-config" content="/images/icons/browserconfig.xml?v=dLJ9Pq4Q3A">
    <meta name="theme-color" content="#ffffff">   <meta name="theme-color" content="#f5cc7d">

    <!-- Created with Jekyll Now - http://github.com/barryclark/jekyll-now -->
  </head>

  <body>
    <div class="wrapper-masthead">
      <div class="container">
        <header class="masthead clearfix">
          <a href="{{ site.baseurl }}/" class="site-avatar"><img src="{{ site.avatar }}" /></a>

          <div class="site-info">
            <h1 class="site-name"><a href="{{ site.baseurl }}/">{{ site.name }}</a></h1>
            <p class="site-description">{{ site.description }}</p>
          </div>

          <nav>
            <a href="{{ site.url }}/slides">Slides</a>
            <a href="{{ site.url }}/posts">Blog</a>
            <a href="{{ site.url }}/">About</a>
          </nav>
        </header>
      </div>
    </div>

    <div id="main" role="main" class="container">
      {{ content }}
    </div>

    <div class="wrapper-footer">
      <div class="container">
        <footer class="footer">
          {% include svg-icons.html %}
        </footer>
      </div>
    </div>
  </body>
</html>
